/* ================================ 

-- White space
Section: 5rem(50px)

-- COLOR
Main color: #5c463f
Sub color: #fdefd7

-- Font Size
1.6rem( 16px )

================================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 13rem;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #5c463f;
  overflow-x: hidden;
}

/* -----------------
      HEADER logo  
------------------- */

.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin: 0.5rem 0;
  padding: 0;
}

.logo_img img {
  width: 13.5rem;
  height: 13.5rem;
}

/* -----------------
      HEADER nav  
------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0; /* bottom: 0; */
  width: 100%;
  height: 13.5rem;
  background-color: #5c463f;
  z-index: 10;
  font-size: 1.5rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

nav a:link,
nav a:visited {
  position: relative;
  text-decoration: none;
  color: #fdefd7;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

nav a:link::after,
nav a:visited::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 0.1rem;
  background-color: currentColor;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

nav a:hover::after,
nav a:active::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  text-decoration: none;
  margin: 0 0.75em 0 0.75em;
}

ul:hover a {
  opacity: 0.3;
}

nav a:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* ---------------------
    HEADER nav: Mobile  
----------------------- */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fdefd7;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* --------------
    MAIN IMAGE  
---------------- */

.main-image {
  margin-bottom: 8rem;
}

.main_img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
}

/* --------------
  SECTION TITLE  
---------------- */

.section-title-container {
  text-align: center;
  margin-bottom: 8rem;
  color: #5c463f;
}

.section-title {
  font-family: "Yomogi", "Rounded Mplus 1c", "Hiragino Maru Gothic ProN",
    sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  margin: 0;
}

.section-title span {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  scroll-margin-top: 14rem;
}

/* --------------
    NEWS sec
---------------- */

.news-container {
  max-width: 70%;
  margin: 0 auto 7rem;
}

.news-item {
  display: flex;
  height: 7rem;
  border-bottom: 0.1rem solid #5c463f;
  transition: background-color 0.3s;
}

#news .news-item dt,
#news .news-item dd {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5;
}

#news .news-item dt {
  width: 35%;
  padding-left: 5rem;
  font-weight: 700;
}

#news .news-item dd {
  width: 65%;
  margin: 0;
  font-size: 1.4rem;
}

#news .news-item a {
  text-decoration: none;
  color: #5c463f;
  transition: all 0.3s;
}

#news .news-item:hover a {
  opacity: 0.3;
}

/* --------------
    MENU sec 
---------------- */

.menu-container {
  margin-bottom: 10rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  max-width: 70%;
  margin: 0 auto;
  gap: 8rem;
  position: relative;
}

.menu-card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  text-align: center;
  margin-bottom: 4rem;
}

.menu-card img {
  width: 100%;
  height: 55%;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-card-text {
  display: flex;
  flex-direction: column;
  height: 45%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-card-text h3,
.menu-card-text p {
  margin-bottom: 1.75rem;
}

/* -----------------
    MENU sec: btn 
------------------- */

.menu-btn {
  position: absolute;
  right: -3rem;
  bottom: -5rem;
}

.btn-shadow {
  position: relative;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  background: white;
  color: #5c463f;
  cursor: pointer;
  box-shadow: 4px 4px 0 #5c463f;
  transition: all 0.3s ease-in-out;
}

.btn-shadow:hover {
  box-shadow: 0 0 0 #5c463f;
  top: 4px;
  left: 4px;
}

/* --------------
    ACCESS sec 
---------------- */

address {
  font-style: normal;
}

.access-container {
  margin-bottom: 5rem;
}

.access_group {
  max-width: 70%;
}

.access_item a:link,
.access_item a:visited {
  text-decoration: none;
  color: #5c463f;
  transition: all 0.3s;
  cursor: pointer;
}

.access_item a:hover,
.access_item a:active {
  color: rgba(92, 70, 63, 0.39);
}

iframe {
  display: block;
  margin: 0 auto;
  border: none;
}

.access_group {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 7rem;
}

.access_item {
  display: flex;
  align-items: center;
  border-bottom: solid 0.1rem #5c463f;
}

.access_item dt {
  display: flex;
  align-items: center;
  width: 40%;
  padding-left: 5rem;
}

.access_item dd {
  width: 60%;
  text-align: left;
  line-height: 3rem;
  padding-left: 7rem;
  margin: 0;
}

.access-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.access-map {
  max-width: 60%;
  aspect-ratio: 16 / 9;
  height: auto;
}

/* --------------
      FOOTER
---------------- */

footer {
  display: flex;
  color: #fdefd7;
  background-color: #5c463f;
  height: 3.5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

/* --------------------
  Responsive: 1200px
---------------------- */

@media screen and (max-width: 75em) {
  .news-container,
  .grid-3-cols,
  .access_group {
    max-width: 80%;
  }

  .grid-3-cols {
    gap: 6rem;
  }
}

/* --------------------
    Responsive: 960px
   -------------------- */

@media screen and (max-width: 60em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }

  body {
    padding-top: 12.1rem;
  }

  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.5rem;
  }
}

/* --------------
    SP: 600px
---------------- */

@media screen and (max-width: 37.5em) {
  body {
    padding-top: 0;
  }

  /* --------------
      SP: Menu
  ---------------- */

  .header {
    position: fixed;
    height: 10rem;
  }

  .header-inner {
    position: relative;
    height: 10rem;
  }

  .logo_img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  .btn-mobile-nav {
    display: block;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    z-index: 999;
  }

  .nav-menu {
    font-size: 2.3rem;
    line-height: 1.3;
    background-color: #5c463fb7;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    /* 隠すときに設定必須 */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav-menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    text-align: center;
    font-weight: 700;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 4.8rem;
  }

  /* -----------------
      SP: Main image
  ------------------- */

  .main_img {
    height: 70vh;
    margin-top: 9.9rem;
  }

  /* --------------
      SP: News
---------------- */

  .news-container {
    max-width: 80%;
  }

  .section-title-container-news {
    margin-bottom: 5rem;
  }

  #news .news-item dt {
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  #news .news-item dd {
    font-size: 1.3rem;
  }

  /* --------------
      SP: Menu
  ---------------- */

  .grid-3-cols {
    max-width: 85%;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 3.5rem;
  }

  /* --------------
      SP: Access
  ---------------- */

  .access_group {
    max-width: 80%;
  }

  .access_item dd {
    padding-left: 6rem;
  }

  .access_item dt {
    padding-left: 2.5rem;
  }

  .access-map {
    max-width: 75%;
  }
}

/* --------------------
    Responsive: 500px
   -------------------- */

@media screen and (max-width: 31em) {
  .main_img {
    height: 65vh;
  }

  .news-container,
  .grid-3-cols,
  .access_group {
    max-width: 85%;
  }

  #news .news-item dt {
    font-size: 1.4rem;
    width: 30%;
    padding-left: 3rem;
  }

  #news .news-item dd {
    font-size: 1.3rem;
    width: 70%;
    padding-left: 2rem;
  }

  .grid-3-cols {
    gap: 2.5rem;
  }

  .menu-card {
    margin-bottom: 2rem;
  }

  .menu-card-text h3,
  .menu-card-text p {
    margin-bottom: 1.3rem;
  }

  .menu-card-text h3 {
    font-size: 1.7rem;
  }

  .menu-card-text p {
    font-size: 1.4rem;
  }
  .menu-btn {
    right: -1.5rem;
    bottom: -6rem;
  }

  .access-icon {
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 1.2rem;
  }

  .access_item dt,
  .access_item dd {
    font-size: 1.4rem;
  }

  .access_item dt {
    padding-left: 2.5rem;
  }
  .access_item dd {
    padding-left: 1.8rem;
  }
}
